BOT_TOKEN=OTRkZGE1MGItMzQ4NS00ZDMwLThhMTktZDFhNWFkZGRiNGE5ZTc0NTE4OGItZjJh_P0A1_381a95f5-7349-4f5b-bc0d-1e1f574b419a
GROUP_ROOM_ID=Y2lzY29zcGFyazovL3VybjpURUFNOnVzLXdlc3QtMl9yL1JPT00vMjM1OTJmYzAtNGJiNC0xMWYxLThkZmItYzVjYjRjZGMzNTA4
DIRECT_ROOM_ID=Y2lzY29zcGFyazovL3VybjpURUFNOnVzLXdlc3QtMl9yL1JPT00vMDUxOWE4MzAtNGJkOS0xMWYxLTk4N2ItNWZjNjU3NzdkOWEx
POLL_INTERVAL=5
SCREENSHOT_INTERVAL=300